body {
    background-color: #f5f5f5;
}

#main-content {
    max-width: 90%;
    padding: 2em 3em;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
}